.cart-section__title {
  font-size: 24px;
  font-weight: 600;
}

.delete-button {
  padding: 12px 22px;
  border: 1px solid #bbbbbb;
}

.cart-left-section {
  width: 60%;
  margin-top: 50px;
  border-bottom: 2px solid #aaa;
}

.cart-right-section {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;

  border: 1px solid #dddddd;
}

.cart-right-section__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.cart-right-section__bottom {
}

.cart-title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #aaa;
}
.cart-container:first-of-type {
  border-top-width: 2px;
  margin-top: 20px;
}

.cart-container input:disabled {
  background-color: #ccc;
  cursor: no-drop;
}
.cart-container input:disabled::after {
  content: '';
}

.cart-image {
  width: 100px;
}
.cart-trash-svg {
  align-self: flex-end;
}

.cart-name {
  font-size: 20px;
}

.cart-price {
  color: #333333;
  align-self: flex-end;
}

.cart-modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  padding: 20px 50px;
  border-radius: 15px;
  background: #fff;
  z-index: 10;
}
.cart-modal .product-item {
  max-width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.cart-modal button {
  padding: 16px 10px 14px 15px;
  background-color: #79f;
  color: #fff;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;
}

@media screen and (max-width: 600px) {
  .recent-cart {
    display: none;
  }
}

.cart-confirm-modal {
  box-sizing: border-box;
  max-width: 80%;
  max-height: 80%;
  padding: 20px;
  border-radius: 15px;
  background: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.cart-confirm-modal .product-list {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-confirm-modal .product-item {
  min-width: 100px;
  max-width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  align-self: stretch;
}

@media screen and (min-width: 820px) {
  .cart-confirm-modal {
    max-width: 800px;
    max-height: 500px;
  }
}
