@import './cart.css';
@import './order.css';
@import './product.css';
@import './admin.css';

.page {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contents {
  flex-grow: 1;
}
