#modalRoot {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#modalRoot.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal-dimmed {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.modal {
  opacity: 0;
  transform: translateY(100%);
  padding: 20px;
}

.modal-header {
  font-weight: 700;
  font-size: 1.5rem;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modalRoot .modal-dimmed {
  animation: 0.2s ease-out backwards fadeIn;
}

#modalRoot .modal {
  animation: 0.2s 0.1s ease-out backwards slideIn;
}

#modalRoot.show .modal-dimmed {
  animation: 0.2s ease-out forwards fadeIn;
}

#modalRoot.show .modal {
  animation: 0.2s 0.1s ease-out forwards slideIn;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
