@import "./common/index.css";
@import "./page/index.css";

.divide-line {
  width: 100%;
  border: 2px solid black;
}

.divide-line-gray {
  width: 100%;
  border: 2px solid #aaaaaa;
}

.divide-line-thin {
  width: 100%;
  border: 1px solid #aaaaaa;
}

.cursor-pointer {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}
